.visualizer {
  /* Add z-index so it shows search bar and profile page elements. */
  z-index: 15;
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  width: 100%;
  height: 200px;
}
.visualizer.fade {
  opacity: 1;
}
.visualizer.show {
  display: block;
}

.visualizerDisabled {
  top: 16px !important;
  left: 64px !important;
  right: -64px !important;
  justify-content: center;
  width: 100%;
  padding: 0px;
  max-width: calc(100% - 128px) !important;
}

.visualizerDisabled > :global(.ant-tooltip-content) {
  display: flex;
  justify-content: center;
  width: 100%;
}

.visualizerDisabled :global(.ant-tooltip-inner) {
  width: 100%;
  max-width: 780px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 16px;
  background-color: var(--harmony-white) !important;
  color: var(--harmony-secondary) !important;
  font-size: var(--harmony-font-s);
}
